@layer pasta, project, typography, layout, components, pages;

@import url("https://unpkg.com/@jaredpdesigns/pasta") layer(pasta);

@layer project {
  :root {
    --color__set--highlight: var(--color__saffron);
    --inset__left: env(safe-area-inset-left);
    --inset__right: env(safe-area-inset-right);
    --offset__left: calc(var(--size__l) + var(--inset__left));
    --offset__right: calc(var(--size__l) + var(--inset__right));
    --type__family--primary: gyst-variable, sans-serif;
  }
}

@layer typography {

  body {
    font-optical-sizing: auto;
    font-size: var(--type__size--m--fluid);
    line-height: var(--type__lineheight--l--fluid);
    text-transform: capitalize;
  }

  strong {
    font-variation-settings: "wght" 550;
  }

  p:empty {
    display: none;
  }
}

@layer layout {
  body {

    >header,
    main,
    >footer {
      padding-inline-start: var(--offset__left);
      padding-inline-end: var(--offset__right);
    }
  }

  article {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;

    &:focus-visible {
      outline: var(--outline__size) var(--outline__style) var(--outline__color);
    }
  }

  .themeToggle {
    block-size: var(--size__xl);
    border-radius: 50%;
    inline-size: var(--size__xl);
    inset-block-end: var(--size__m);
    inset-inline-end: var(--size__m);
    position: fixed;
    z-index: calc(infinity);

    &:hover,
    &:focus-visible {
      svg {
        opacity: 1;
      }
    }

    svg {
      display: none;
      vertical-align: middle;
      opacity: 0.5;
      transition: opacity 0.375s ease-in;
    }

    [data-theme="dark"] & svg:first-child {
      display: inline-block;
    }

    [data-theme="light"] & svg:last-child {
      display: inline-block;
    }
  }
}

@layer components {
  .microseason {
    container-type: inline-size;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    @media (min-width: 720px) {
      @media (prefers-reduced-motion: no-preference) {
        @supports (animation-timeline: view()) {
          @keyframes scale {

            0%,
            100% {
              border-color: transparent;
              box-shadow: unset;
              opacity: 0;
              scale: 0.85;
            }

            45%,
            55% {
              border-color: transparent;
              box-shadow: unset;
              opacity: 0.85;
              scale: 1;
            }

            50% {
              border-color: var(--color__highlight--light);
              box-shadow: var(--shadow);
              opacity: 1;
              scale: 1;
            }
          }

          animation: scale linear both;
          animation-timeline: view();
          animation-range: entry 25% exit 75%;
          transform-origin: center center;

          /*
           * Active state for keyboard-focused item
           */
          &.active,
          &.active-second {
            animation: none;
            scale: 1;
          }

          &.active {
            border-color: var(--color__highlight--light);
            box-shadow: var(--shadow);
            opacity: 1;
          }

          &.active-second {
            border-color: transparent;
            box-shadow: unset;
            opacity: 0.85;
          }
        }
      }
    }

    &__wrap {
      @container (min-width: 720px) {
        grid-template-columns: var(--width__s) 1fr;
      }
    }

    hr {
      inline-size: 100%;
    }

    small {
      text-transform: uppercase;
    }

    img {
      aspect-ratio: 1 / 1;
    }

    figcaption {
      @container (min-width: 1024px) {
        padding-block: var(--size__m);
      }
    }
  }

  .day {
    flex-shrink: 0;
    vertical-align: middle;

    @container (min-width: 720px) {
      gap: var(--size__s);
      padding-block: var(--size__s);
    }

    @container (min-width: 1024px) {
      --size: 120px;
      block-size: var(--size);
      border-radius: 50%;
      inline-size: var(--size);
      flex-direction: column;
      gap: 0;
      padding-inline: unset;
    }

    small {
      text-transform: uppercase;
    }

    &__past {
      background-color: var(--color__highlight--light);
      border-color: transparent;
      color: var(--color__base--mid);
    }

    &__present {
      background-color: var(--color__highlight--contrast);
      border-color: transparent;
      color: var(--color__contrast);

      small {
        color: inherit;
        opacity: 0.75;
      }
    }

    &__future {
      border-style: dashed;
    }
  }
}